footer{
    align-items: flex-start;
    justify-content: space-between;
    background: black;
    width: 100%;
    height: 85px;
    
    ul{
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-left: 135px;
    }

    div{
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-right: 135px;
    }

    a{
        color: white;
        font-size: 15px;
    }
}