footer{
    align-items: center;
    justify-content: space-between;
    background: black;
    width: 100%;
    height: 100%;
    
    ul{
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-left: 145px;
    }

    div{
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-right: 145px;
    }

    a{
        color: white;
        font-size: 15px;
    }
}